body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777;
  background: url("../images/background.png");
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width:100%;
  height: 60px;
  padding: 20px;
  background-color: #666666;
  color: #dddddd;
  border-top: 5px solid #4AAAA5;
}

img{
  width: 100%;
}

.card-columns {
  column-count: 2;
}

@media only screen and (max-width: 980px) {
    
}

@media only screen and (max-width: 768px) {
  .card-columns {column-count: 1;}
}

@media only screen and (max-width: 640px) {
 
}